body {
    font-family: "Heebo",sans-serif;
    margin: 0px;
    background-color: black;
}
.navbar {
    max-width: 1000px;
    display: flex;
    /* justify-content: space-around; */
    align-items: center;
    margin: auto;
}
.nav-left{
    display: flex;
    justify-content: flex-start;
    margin-top: 0px;
}
.nav-right{
    display: flex;
    margin: 10px;
    padding:10px;
}
div{
    margin: 10px;
    color: white;
}
.navbar :hover {
    /*(0,2,0) */
    cursor: pointer;
    color: #FEA116;
}
.r_name{
    font-weight: 600;
    color: #FEA116;
}
.text {
    padding: 100px;
    font-weight: 900;
}
.butt{
    color:white;
    background-color: #FEA116;
    padding: 15px 30px;
    cursor: pointer;
}
img{
    position: absolute;
    top: 250px;
    right: 0;
    left: 1000px;
    max-width: 100%;
    height: auto;
    width: auto;
}
/* .responsive {
    padding: 0 6px;
    float: left;
    width: 24.99999%;
  }
  
  @media only screen and (max-width: 700px){
    .responsive {
      width: 49.99999%;
      margin: 6px 0;
    }
  }
  
  @media only screen and (max-width: 500px){
    .responsive {
      width: 100%;
    }
  } */
.dropbtn{
    border: none;
    color: white;
    padding: 0px;
    font-size: 16px;
    margin-top: 0px;
}
.dropdown {
    position: relative;
    display: inline-block;
}
.dropdown-content{
    display: none;
    position:absolute;
    min-width: 160px;
    box-shadow: 0px 8px 16px 0px white;
    z-index: 1;
}
.dropdown-content a {
    color: white;
    padding: 12px 16px;
    text-decoration: none;
    display: block;
  }
  
  .dropdown-content a:hover {
    cursor: pointer;
    background-color: #ddd;}
  .dropdown:hover .dropdown-content {display: block;}
  .dropdown:hover .dropbtn {background-color: rgb(31, 233, 156);}
 