 body{
    width: 500px;
    color: black;
    margin:0 auto;
    text-align: center; 
    font-family:Arial, Helvetica, sans-serif;
    letter-spacing: 5px;
 }
 .calculator{
     padding: 20px;
    -webkit-box-shadow: 0px 1px 4px 0px rgba(0, 0, 0, 0.2);
    box-shadow: 0px 1px 4px 0px rgba(0, 0, 0, 0.2);
    border-radius: 10px;
 }
 .input{
    border: 1px solid #ddd;
    border-radius: 1px;
    padding-right: 15px;
    height: 60px;
    padding-top: 10px;
    text-align: right;
    margin-right: 6px;
    font-size: 3rem;

 }
 .operators div{
    display: inline-block;
    border: 1px solid #ddd;
    border-radius: 1px;
    width: 80px;
    text-align: center;
    padding: 10px;
    margin: 20px 4px 10px 0;
    cursor: pointer;
 }
 .button{
    cursor: pointer;
 }
 .left-panal{
    display: inline-block;
 }
 .numbers div{
    display: inline-block;
    border: 1px solid #ddd;
    border-radius: 1px;
    width: 80px;
    text-align: center;
    padding: 10px;
    margin: 10px 4px 10px 0;
    cursor: pointer;
 }
 div.equal {
    display: inline-block;
    border: 1px solid #3079ED;
    border-radius: 1px;
    width: 17%;
    text-align: center;
    padding: 100px 10px;
    margin: 10px 4px 10px 0;
    vertical-align: top;
    cursor: pointer;
    color: #FFF;
    background-color: #4d90fe;
     
  }