body {
    background-color: black;
    text-align: center;
    margin: 0 auto;
}
/* button{
    display: flex;
} */
.column1{
    display: flex;
    flex-direction: column;
    background-color: rgb(186, 38, 132);
}
button{
     border-radius: 100px;
     cursor: pointer;
     padding: 10px;
     margin: 10px;
     background-color: rgb(55, 46, 46);
     color: white;
}
/* .button1{
    display: flex;
    flex-direction: column
} */
h1{
    color: white;
}